.patient-form {
  display: flex;
  flex-direction: row;
  margin: 0 4rem 2rem;
  gap: 1rem;
}

/* .submit-button {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--buttonBase);
  cursor: pointer;
  font-size: 1rem;
}
.submit-button:hover {
  background-color: var(--buttonHover);
  text-decoration: none;
  transition-duration: 0.1s;
}
.submit-button:active {
  background-color: var(--buttonActive);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
} */
